.amazing-places__gallery-amazing {
    width: 62%;
    overflow: hidden;
    margin-right: 5px;
}

.gallery-amazing__slider {
    display: flex;
    margin-left: -15%;
}

.gallery-amazing__image {
    height: 83.5%;
    position: relative;
}

.gallery-amazing__image .curtain{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(26,44,49,.8) 10%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 50%);
}

.gallery-amazing__image .container {
    position: relative;
}

.gallery-amazing__image .container .name-tour,
.gallery-amazing__image .name-tour {
    padding-right: 5px;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    bottom: 4%;
    left: 7%;
    color: #fff;

    font-family: 'NunitoSansRegular';
    font-size: 23px;
    line-height: 42px;
    letter-spacing: .42px;
}

.amazing-places__gallery-amazing .container .price,
.amazing-places__gallery-amazing .price {
    width: 30%;
    position: absolute;
    top: 5%;
    left: 0;
    background: #3984f3;
    color: #fff;
    text-align: center;

    font-family: 'NunitoSansSemiBold';
    font-size: 24px;
    line-height: 42px;
    letter-spacing: .42px;
}

.gallery-amazing__image:not(:last-child) {
    margin-right: 3%;
}

.gallery-amazing__image:not(:nth-child(2n)) {
    margin-top: 75px;
}

.gallery-amazing__image .container > img,
.gallery-amazing__image > img {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-amazing__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-amazing__image__duration {
    font-family: 'NunitoSansSemiBold';
    font-size: 24px;
    line-height: 42px;
    letter-spacing: .42px;
    color: #b8b8b8;
}

.gallery-amazing__arrows {
    margin: 80px 0 0 17%;
}

.gallery-amazing__arrows__left {
    width: 39px;
    height: 28px;
    fill-rule: evenodd;
    fill: rgb(160, 160, 160);
    margin-right: 65px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.gallery-amazing__arrows__right {
    width: 39px;
    height: 28px;
    fill-rule: evenodd;
    fill: rgb(160, 160, 160);
    cursor: pointer;
    transition: opacity .3s ease;
}

.gallery-amazing__arrows__left:hover,
.gallery-amazing__arrows__right:hover {
    opacity: 0.5;
    transition: opacity .3s ease;
}

.star {
    cursor: pointer;
}