.categories__subheading {
    display: block;
    text-align: center;
    margin: 190px 0 0 0;
    color: #091e40;

    font-family: 'NunitoSansSemiBold';
    font-size: 50px;
    line-height: 62px;
    letter-spacing: 1.2px;
}

.categories__line {
    display: block;
    width: 4%;
    height: 6px;
    fill-rule: evenodd;
    fill: rgb(57, 132, 243);
    margin: 40px auto;
}

.categories__text {
    display: block;
    width: 80%;
    margin: 0 auto 120px auto;
    text-align: center;
    color: #9d9fa6;

    font-family: 'NunitoSansRegular';
    font-size: 23px;
    line-height: 42px;
    letter-spacing: .42px;
}

.photo__slider {
    width: 130%;
    display: flex;
    margin-left: -15%;
}

.photo__slider__items {
    position: relative;
    cursor: pointer;
    transition: all .5s ease;
}

.photo__slider__items:hover {
    transform: translateY(-50px);
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    transition: all .5s ease;
}

.photo__slider__items:not(:last-child) {
    margin-right: 2%;
}

.photo__slider__items > img {
    display: block;
    width: 100%;
    height: 100%;
}

.photo__slider__items > p {
   position: absolute;
   bottom: 4%;
   left: 3%;
   z-index: 2;

   font-family: 'NunitoSansRegular';
   font-size: 26px;
   line-height: 46px;
   letter-spacing: .46px;
   color: #fff;
}

.arrows {
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
}

.arrows__left,
.arrows__right {
    width: 39px;
    height:28px;
    fill-rule: evenodd;
    fill: rgb(160, 160, 160);
}

.arrows__left {
    margin-right: 5%;
}

.photo__slider__items .curtain {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(62,78,84,.9) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%);
}